* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

body {
    background-color: hsl(180, 3%, 19%);
    color: hsl(40, 10%, 94%);
}

.container {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20rem;
    width: 100%;
    line-height: 2rem;
}